# Files
.DS_Store
*.pyc
*.pyo
*.pyd
.editorconfig
main_dev.ipynb

# Directories
__pycache__/
.vscode
anaconda_projects/
Python-3.11.8-build/
/build/
/bin/
venv/
venv

# Jupyter checkpoints
.ipynb_checkpoints/
